<?xml version="1.0" encoding="utf-8"?>
<config>
   <modules>
      <Zhupanyn_Newproducts>
         <version>0.1.0</version>
      </Zhupanyn_Newproducts>
   </modules>
   <frontend>
      <routers>
         <zh_newproducts>
            <use>standard</use>
            <args>
              <module>Zhupanyn_Newproducts</module>
              <frontName>zh_newproducts</frontName>
            </args>
         </zh_newproducts>
      </routers>
      <layout>
         <updates>
            <zh_layout>
               <file>Zhupanyn_Newproducts.xml</file>
            </zh_layout>
         </updates>
      </layout>
      <events>
         <page_block_html_topmenu_gethtml_before>
            <observers>
              <zh_add_menu_node>
                 <class>zh_model/observer</class>
                 <method>zh_add_menu_node</method>
                 <type>model</type>
              </zh_add_menu_node>
            </observers>
         </page_block_html_topmenu_gethtml_before>
      </events>
      <translate></translate>
   </frontend>
   <adminhtml></adminhtml>
   <global>
      <blocks>
         <zh_list>
            <class>Zhupanyn_Newproducts_Block</class>
         </zh_list>
      </blocks>
      <models>
         <zh_model>
             <class>Zhupanyn_Newproducts_Model</class>
         </zh_model>
      </models>
   </global>
   <default></default>
   <crontab></crontab>
   <admin></admin>
</config>