<?xml version="1.0"?>
<config>
    <modules>
        <Zhupanyn_Localstorage>
            <version>0.1.0</version>
        </Zhupanyn_Localstorage>
    </modules>
    <frontend>
        <routers>
            <zhupanyn_localstorage>
                <use>standard</use>
                <args>
                    <module>Zhupanyn_Localstorage</module>
                    <frontName>zhupanyn_localstorage</frontName>
                </args>
            </zhupanyn_localstorage>
        </routers>
        <layout>
            <updates>
                <zhupanyn_localstorage>
                    <file>Zhupanyn/Zhupanyn_Localstorage.xml</file>
                </zhupanyn_localstorage>
            </updates>
        </layout>
        <events>
            <customer_login>
                <observers>
                    <add_cookie_customer_login>
                        <class>zhupanyn_localstorage/observer</class>
                        <method>add_cookie_customer_login</method>
                        <type>model</type>
                    </add_cookie_customer_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <add_cookie_customer_logout>
                        <class>zhupanyn_localstorage/observer</class>
                        <method>add_cookie_customer_logout</method>
                        <type>model</type>
                    </add_cookie_customer_logout>
                </observers>
            </customer_logout>
        </events>
        <translate></translate>
    </frontend>
    <adminhtml>
    </adminhtml>
    <global>
        <blocks>
            <zhupanyn_localstorage>
                <class>Zhupanyn_Localstorage_Block</class>
            </zhupanyn_localstorage>
        </blocks>
        <models>
            <zhupanyn_localstorage>
                <class>Zhupanyn_Localstorage_Model</class>
            </zhupanyn_localstorage>
        </models>
        <helpers>
            <zhupanyn_localstorage>
                <class>Zhupanyn_Localstorage_Helper</class>
            </zhupanyn_localstorage>
        </helpers>
        <resources></resources>
    </global>
    <default></default>
    <crontab></crontab>
    <admin>
        <routers></routers>
    </admin>
</config>
