<?xml version="1.0"?>
<config>
    <modules>
        <Zhupanyn_Localstorage>
            <version>0.1.0</version>
        </Zhupanyn_Localstorage>
    </modules>
    <frontend>
        <routers>
            <zhupanyn_localstorage>
                <use>standard</use>
                <args>
                    <module>Zhupanyn_Localstorage</module>
                    <frontName>zhupanyn_localstorage</frontName>
                </args>
            </zhupanyn_localstorage>
        </routers>
        <layout>
            <updates>
                <zhupanyn_localstorage>
                    <file>Zhupanyn/Zhupanyn_Localstorage.xml</file>
                </zhupanyn_localstorage>
            </updates>
        </layout>
        <events>
            <customer_login>
                <observers>
                    <add_cookie_customer_login>
                        <class>zhupanyn_localstorage/observer</class>
                        <method>add_cookie_customer_login</method>
                        <type>model</type>
                    </add_cookie_customer_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <add_cookie_customer_logout>
                        <class>zhupanyn_localstorage/observer</class>
                        <method>add_cookie_customer_logout</method>
                        <type>model</type>
                    </add_cookie_customer_logout>
                </observers>
            </customer_logout>
        </events>
        <translate></translate>
    </frontend>
    <adminhtml>
        <!--<layout>
            <updates>
                <zhupanyn_action>
                    <file>Zhupanyn/Zhupanyn_Action.xml</file>
                </zhupanyn_action>
            </updates>
        </layout>-->
    </adminhtml>
    <global>
        <blocks>
            <zhupanyn_localstorage>
                <class>Zhupanyn_Localstorage_Block</class>
            </zhupanyn_localstorage>
            <!--<reports>
                <rewrite>
                    <product_viewed>Zhupanyn_Localstorage_Block_Viewed</product_viewed>
                </rewrite>
            </reports>-->
        </blocks>
        <models>
            <zhupanyn_localstorage>
                <class>Zhupanyn_Localstorage_Model</class>
                <!--<resourceModel>zhupanyn_action_resource</resourceModel>-->
            </zhupanyn_localstorage>
            <!--<zhupanyn_action_resource>
                <class>Zhupanyn_Action_Model_Resource</class>
                <entities>
                    <action>
                        <table>zhupanyn_action</table>
                    </action>
                    <action_product>
                        <table>zhupanyn_action_product</table>
                    </action_product>
                    <test>
                        <table>zhupanyn_test</table>
                    </test>
                </entities>
            </zhupanyn_action_resource>-->
        </models>
        <helpers>
            <zhupanyn_localstorage>
                <class>Zhupanyn_Localstorage_Helper</class>
            </zhupanyn_localstorage>
        </helpers>
        <resources>
            <!--<zhupanyn_action>
                <setup>
                    <module>Zhupanyn_Action</module>
                    <class>Zhupanyn_Action_Model_Resource_Setup</class>
                </setup>
            </zhupanyn_action>-->
        </resources>
    </global>
    <default></default>
    <crontab></crontab>
    <admin>
        <routers>
            <!--<adminhtml>
                <args>
                    <modules>
                        <zhupanyn_action after="Mage_Adminhtml">Zhupanyn_Action_Adminhtml</zhupanyn_action>
                    </modules>
                </args>
            </adminhtml>-->
        </routers>
    </admin>
</config>
