<config>
    <tabs></tabs>
    <sections>
        <catalog>
            <groups>
                <recently_products>
                    <fields>
                        <viewed_time translate="label">
                            <label>Default Recently Viewed Products Time</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </viewed_time>
                    </fields>
                </recently_products>
            </groups>
        </catalog>
    </sections>
</config>