<?xml version="1.0" encoding="utf-8"?>
<config>
   <modules>
      <Zhupanyn_Hellomagento>
         <version>0.1.0</version>
      </Zhupanyn_Hellomagento>
   </modules>
   <frontend>
      <routers>
         <zh_hellomagento>
            <use>standard</use>
            <args>
              <module>Zhupanyn_Hellomagento</module>
              <frontName>zh_hellomagento</frontName>
            </args>
         </zh_hellomagento>
      </routers>
      <layout></layout>
      <events>
         <!--
         <controller_action_predispatch>
            <observers>
              <zh_model>
                 <class>zh_model/observer</class>
                 <method>predispatch</method>
                 <type>model</type>
              </zh_model>
            </observers>
         </controller_action_predispatch>-->
      </events>
      <translate></translate>
   </frontend>
   <adminhtml></adminhtml>
   <global>
      <!--<models>
         <zh_model>
             <class>Zhupanyn_Hellomagento_Model</class>
         </zh_model>
      </models>-->
   </global>
   <default></default>
   <crontab></crontab>
   <admin></admin>
</config>