<?xml version="1.0" encoding="utf-8"?>
<config>
   <modules>
      <Zhupanyn_Youtube>
         <version>0.1.0</version>
      </Zhupanyn_Youtube>
   </modules>
   <frontend>
      <routers>
         <zhupanyn_youtube>
            <use>standard</use>
            <args>
              <module>Zhupanyn_Youtube</module>
              <frontName>zhupanyn_youtube</frontName>
            </args>
         </zhupanyn_youtube>
      </routers>
      <layout>
         <updates>
            <!--<zhupanyn_action>
               <file>Zhupanyn/Zhupanyn_Action.xml</file>
            </zhupanyn_action>-->
         </updates>
      </layout>
      <events>
         <!--<page_block_html_topmenu_gethtml_before>
            <observers>
              <add_menu_node>
                 <class>zhupanyn_action/observer</class>
                 <method>add_menu_node</method>
                 <type>model</type>
              </add_menu_node>
            </observers>
         </page_block_html_topmenu_gethtml_before>-->
      </events>
      <translate></translate>
   </frontend>
   <adminhtml>
      <layout>
         <updates>
            <!--<zhupanyn_action>
               <file>Zhupanyn/Zhupanyn_Action.xml</file>
            </zhupanyn_action>-->
         </updates>
      </layout>
   </adminhtml>
   <global>
      <blocks>
         <zhupanyn_action>
            <class>Zhupanyn_Action_Block</class>
         </zhupanyn_action>
      </blocks>
      <models>
         <zhupanyn_action>
             <class>Zhupanyn_Action_Model</class>
             <resourceModel>zhupanyn_action_resource</resourceModel>
         </zhupanyn_action>
         <zhupanyn_action_resource>
            <class>Zhupanyn_Action_Model_Resource</class>
            <entities>
               <action>
                  <table>zhupanyn_action</table>
               </action>
               <action_product>
                  <table>zhupanyn_action_product</table>
               </action_product>
               <test>
                  <table>zhupanyn_test</table>
               </test>
            </entities>
         </zhupanyn_action_resource>
      </models>
      <helpers>
         <zhupanyn_action>
            <class>Zhupanyn_Action_Helper</class>
         </zhupanyn_action>
      </helpers>
      <resources>
         <zhupanyn_action>
            <setup>
               <module>Zhupanyn_Action</module>
               <class>Zhupanyn_Action_Model_Resource_Setup</class>
            </setup>
         </zhupanyn_action>
      </resources>
   </global>
   <default></default>
   <crontab></crontab>
   <admin>
      <routers>
         <adminhtml>
            <args>
               <modules>
                  <zhupanyn_action after="Mage_Adminhtml">Zhupanyn_Action_Adminhtml</zhupanyn_action>
               </modules>
            </args>
         </adminhtml>
      </routers>
   </admin>
</config>