<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Zhupanyn_Youtube>
            <version>0.1.0</version>
        </Zhupanyn_Youtube>
    </modules>
    <frontend>
        <routers>
            <zhupanyn_youtube>
                <use>standard</use>
                <args>
                    <module>Zhupanyn_Youtube</module>
                    <frontName>zhupanyn_youtube</frontName>
                </args>
            </zhupanyn_youtube>
        </routers>
        <layout>
            <updates>
                <zhupanyn_youtube>
                    <file>Zhupanyn/Zhupanyn_Youtube.xml</file>
                </zhupanyn_youtube>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <add_test_block_youtube>
                        <class>zhupanyn_youtube/observer</class>
                        <method>addBlockYoutubeVideo</method>
                        <type>model</type>
                    </add_test_block_youtube>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
        <translate></translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <!--<zhupanyn_youtube>
                   <file>Zhupanyn/Zhupanyn_Youtube.xml</file>
                </zhupanyn_youtube>-->
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <save_youtube_data>
                        <class>zhupanyn_youtube/observer</class>
                        <method>saveYoutubeData</method>
                        <type>model</type>
                    </save_youtube_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <global>
        <blocks>
            <zhupanyn_youtube>
                <class>Zhupanyn_Youtube_Block</class>
            </zhupanyn_youtube>
        </blocks>
        <models>
            <zhupanyn_youtube>
                <class>Zhupanyn_Youtube_Model</class>
                <resourceModel>zhupanyn_youtube_resource</resourceModel>
            </zhupanyn_youtube>
            <zhupanyn_youtube_resource>
                <class>Zhupanyn_Youtube_Model_Resource</class>
                <entities>
                    <youtube>
                        <table>zhupanyn_youtube</table>
                    </youtube>
                </entities>
            </zhupanyn_youtube_resource>
        </models>
        <helpers>
            <zhupanyn_youtube>
                <class>Zhupanyn_Youtube_Helper</class>
            </zhupanyn_youtube>
        </helpers>
        <resources>
            <zhupanyn_youtube>
                <setup>
                    <module>Zhupanyn_Youtube</module>
                    <class>Zhupanyn_Youtube_Model_Resource_Setup</class>
                </setup>
            </zhupanyn_youtube>
        </resources>
    </global>
    <default></default>
    <crontab></crontab>
    <admin>
        <routers>
            <!--<adminhtml>
               <args>
                  <modules>
                     <zhupanyn_action after="Mage_Adminhtml">Zhupanyn_Action_Adminhtml</zhupanyn_action>
                  </modules>
               </args>
            </adminhtml>-->
        </routers>
    </admin>
</config>