<?xml version="1.0" encoding="utf-8"?>
<config>
   <modules>
      <Zhupanyn_Imgloader>
         <version>0.1.0</version>
      </Zhupanyn_Imgloader>
   </modules>
   <frontend>
      <routers>
         <zhupanyn_imgloader>
            <use>standard</use>
            <args>
              <module>Zhupanyn_Imgloader</module>
              <frontName>zhupanyn_imgloader</frontName>
            </args>
         </zhupanyn_imgloader>
      </routers>
      <layout>
         <updates>
            <!--<zhupanyn_imgloader>
               <file>Zhupanyn/Zhupanyn_Action.xml</file>
            </zhupanyn_imgloader>-->
         </updates>
      </layout>
      <events>
         <!--<page_block_html_topmenu_gethtml_before>
            <observers>
              <add_menu_node>
                 <class>zhupanyn_action/observer</class>
                 <method>add_menu_node</method>
                 <type>model</type>
              </add_menu_node>
            </observers>
         </page_block_html_topmenu_gethtml_before>-->
      </events>
      <translate></translate>
   </frontend>
   <adminhtml>
      <layout>
         <updates>
            <zhupanyn_imgloader>
               <file>Zhupanyn/Zhupanyn_Imgloader.xml</file>
            </zhupanyn_imgloader>
         </updates>
      </layout>
   </adminhtml>
   <global>
      <blocks>
         <zhupanyn_imgloader>
            <class>Zhupanyn_Imgloader_Block</class>
         </zhupanyn_imgloader>
      </blocks>
      <models>
         <zhupanyn_imgloader>
             <class>Zhupanyn_Imgloader_Model</class>
             <resourceModel>zhupanyn_imgloader_resource</resourceModel>
         </zhupanyn_imgloader>
         <zhupanyn_imgloader_resource>
            <class>Zhupanyn_Imgloader_Model_Resource</class>
            <entities>
               <list>
                  <table>zhupanyn_imgloader_list</table>
               </list>
            </entities>
         </zhupanyn_imgloader_resource>
      </models>
      <helpers>
         <zhupanyn_imgloader>
            <class>Zhupanyn_Imgloader_Helper</class>
         </zhupanyn_imgloader>
      </helpers>
      <resources>
         <zhupanyn_imgloader>
            <setup>
               <module>Zhupanyn_Imgloader</module>
               <class>Zhupanyn_Imgloader_Model_Resource_Setup</class>
            </setup>
         </zhupanyn_imgloader>
      </resources>
   </global>
   <default></default>
   <crontab>
      <jobs>
         <startDownloadProductImages>
            <schedule>
               <cron_expr>*/5 * * * *</cron_expr>
            </schedule>
            <run>
               <model>zhupanyn_imgloader/cron::startDownloadProductImages</model>
            </run>
         </startDownloadProductImages>
      </jobs>
   </crontab>
   <admin>
      <routers>
         <adminhtml>
            <args>
               <modules>
                  <zhupanyn_imgloader after="Mage_Adminhtml">Zhupanyn_Imgloader_Adminhtml</zhupanyn_imgloader>
               </modules>
            </args>
         </adminhtml>
      </routers>
   </admin>
</config>